
:root {

    /* Fonts */
    --font-default: 'Open Sans', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: 'Source Sans Pro', sans-serif;
    --font-secondary: 'Poppins', sans-serif;
    
    /* Colors */
    /* The *-rgb color names are simply the RGB converted value of the corresponding color for use in the rgba() function */
    
    /* Default text color */
    --color-default: #1a1f24;
    --color-default-rgb: 26, 31, 36;
    
    /* Defult links color */
    --color-links: #0ea2bd;
    --color-links-hover: #1ec3e0;
    
    /* Primay colors */
    --color-primary: #0ea2bd;
    --color-primary-light: #1ec3e0;
    --color-primary-dark: #0189a1;
    
    --color-primary-rgb: 14, 162, 189;
    --color-primary-light-rgb: 30, 195, 224;
    --color-primary-dark-rgb: 1, 137, 161;
    
    /* Secondary colors */
    --color-secondary: #485664;
    --color-secondary-light: #8f9fae;
    --color-secondary-dark: #3a4753;
    
    --color-secondary-rgb: 72, 86, 100;
    --color-secondary-light-rgb: 143, 159, 174;
    --color-secondary-dark-rgb: 58, 71, 83;
    
    /* General colors */
    --color-blue: #0d6efd;
    --color-blue-rgb: 13, 110, 253;
    
    --color-indigo: #6610f2;
    --color-indigo-rgb: 102, 16, 242;
    
    --color-purple: #6f42c1;
    --color-purple-rgb: 111, 66, 193;
    
    --color-pink: #f3268c;
    --color-pink-rgb: 243, 38, 140;
    
    --color-red: #df1529;
    --color-red-rgb: 223, 21, 4;
    
    --color-orange: #fd7e14;
    --color-orange-rgb: 253, 126, 20;
    
    --color-yellow: #ffc107;
    --color-yellow-rgb: 255, 193, 7;
    
    --color-green: #059652;
    --color-green-rgb: 5, 150, 82;
    
    --color-teal: #20c997;
    --color-teal-rgb: 32, 201, 151;
    
    --color-cyan: #0dcaf0;
    --color-cyan-rgb: 13, 202, 240;
    
    --color-white: #ffffff;
    --color-white-rgb: 255, 255, 255;
    
    --color-gray: #6c757d;
    --color-gray-rgb: 108, 117, 125;
    
    --color-black: #000000;
    --color-black-rgb: 0, 0, 0;
    
    }
    
    /*--------------------------------------------------------------
    # 2. Override default Bootstrap variables
    --------------------------------------------------------------*/
    :root {
    
    --bs-blue: var(--color-blue);
    --bs-indigo: var(--color-indigo);
    --bs-purple: var(--color-purple);
    --bs-pink: var(--color-pink);
    --bs-red: var(--color-red);
    --bs-orange: var(--color-orange);
    --bs-yellow: var(--color-yellow);
    --bs-green: var(--color-green);
    --bs-teal: var(--color-teal);
    --bs-cyan: var(--color-cyan);
    --bs-white: var(--color-white);
    --bs-gray: var(--color-gray);
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: var(--color-blue);
    --bs-secondary: var(--color-blue);
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: var(--color-primary-rgb);
    --bs-secondary-rgb: var(--color-secondary-rgb);
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: var(--color-white-rgb);
    --bs-black-rgb: var(--color-black-rgb);
    --bs-body-color-rgb: var(--color-default-rgb);
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: var(--font-default);
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--font-default);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: var(--color-default);
    --bs-body-bg: #fff;
    
    }
    
    /*--------------------------------------------------------------
    # 3. Set color and background class names
    --------------------------------------------------------------*/
    /* Fonts */
    .font-default { font-family: var(--font-default) !important; }
    .font-primary { font-family: var(--font-primary) !important;}
    .font-secondary { font-family: var(--font-secondary) !important; }
    
    /* Text Colors */
    .color-default { color: var(--color-default) !important; }
    .color-links { color: var(--color-links) !important; }
    .color-links:hover { color: var(--color-links-hover) !important; }
    .color-primary { color: var(--color-primary) !important; }
    .color-primary-light { color: var(--color-primary-light) !important; }
    .color-primary-dark { color: var(--color-primary-dark) !important; }
    .color-secondary { color: var(--color-secondary) !important; }
    .color-secondary-light { color: var(--color-secondary-light) !important; }
    .color-secondary-dark { color: var(--color-secondary-dark) !important; }
    .color-blue { color: var(--color-blue) !important; }
    .color-indigo { color: var(--color-indigo) !important; }
    .color-purple { color: var(--color-purple) !important; }
    .color-pink { color: var(--color-pink) !important; }
    .color-red { color: var(--color-red) !important; }
    .color-orange { color: var(--color-orange) !important; }
    .color-yellow { color: var(--color-yellow) !important; }
    .color-green { color: var(--color-green) !important; }
    .color-teal { color: var(--color-teal) !important; }
    .color-cyan { color: var(--color-cyan) !important; }
    .color-white { color: var(--color-white) !important; }
    .color-gray { color: var(--color-gray) !important; }
    .color-black { color: var(--color-black) !important; }
    
    /* Background Colors */
    .bg-default { background-color: var(--color-default) !important; }
    .bg-primary { background-color: var(--color-primary) !important; }
    .bg-primary-light { background-color: var(--color-primary-light) !important; }
    .bg-primary-dark { background-color: var(--color-primary-dark) !important; }
    .bg-secondary { background-color: var(--color-secondary) !important; }
    .bg-secondary-light { background-color: var(--color-secondary-light) !important; }
    .bg-secondary-dark { background-color: var(--color-secondary-dark) !important; }
    .bg-blue { background-color: var(--color-blue) !important; }
    .bg-indigo { background-color: var(--color-indigo) !important; }
    .bg-purple { background-color: var(--color-purple) !important; }
    .bg-pink { background-color: var(--color-pink) !important; }
    .bg-red { background-color: var(--color-red) !important; }
    .bg-orange { background-color: var(--color-orange) !important; }
    .bg-yellow { background-color: var(--color-yellow) !important; }
    .bg-green { background-color: var(--color-green) !important; }
    .bg-teal { background-color: var(--color-teal) !important; }
    .bg-cyan { background-color: var(--color-cyan) !important; }
    .bg-white { background-color: var(--color-white) !important; }
    .bg-gray { background-color: var(--color-gray) !important; }
    .bg-black { background-color: var(--color-black) !important; }
    /*--------------------------------------------------------------
    # Blog Details Page
    --------------------------------------------------------------*/
    .blog .blog-details {
      box-shadow: 0 4px 16px rgba(var(--color-black-rgb), 0.1);
      padding: 30px;
    }
    
    .blog .blog-details .post-img {
      margin: -30px -30px 20px -30px;
      overflow: hidden;
    }
    
    .blog .blog-details .title {
      font-size: 28px;
      font-weight: 700;
      padding: 0;
      margin: 20px 0 0 0;
      color: var(--color-secondary);
    }
    
    .blog .blog-details .content {
      margin-top: 20px;
    }
    
    .blog .blog-details .content h3 {
      font-size: 22px;
      margin-top: 30px;
      font-weight: bold;
    }
    
    .blog .blog-details .content blockquote {
      overflow: hidden;
      background-color: rgba(var(--color-secondary-rgb), 0.06);
      padding: 60px;
      position: relative;
      text-align: center;
      margin: 20px 0;
    }
    
    .blog .blog-details .content blockquote p {
      color: var(--color-default);
      line-height: 1.6;
      margin-bottom: 0;
      font-style: italic;
      font-weight: 500;
      font-size: 22px;
    }
    
    .blog .blog-details .content blockquote:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 3px;
      background-color: var(--color-secondary);
      margin-top: 20px;
      margin-bottom: 20px;
    }
    
    .blog .blog-details .meta-top {
      margin-top: 20px;
      color: var(--color-gray);
    }
    
    .blog .blog-details .meta-top ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      align-items: center;
      padding: 0;
      margin: 0;
    }
    
    .blog .blog-details .meta-top ul li+li {
      padding-left: 20px;
    }
    
    .blog .blog-details .meta-top i {
      font-size: 16px;
      margin-right: 8px;
      line-height: 0;
      color: rgba(var(--color-primary-rgb), 0.8);
    }
    
    .blog .blog-details .meta-top a {
      color: var(--color-gray);
      font-size: 14px;
      display: inline-block;
      line-height: 1;
    }
    
    .blog .blog-details .meta-bottom {
      padding-top: 10px;
      border-top: 1px solid rgba(var(--color-secondary-rgb), 0.15);
    }
    
    .blog .blog-details .meta-bottom i {
      color: var(--color-secondary-light);
      display: inline;
    }
    
    .blog .blog-details .meta-bottom a {
      color: rgba(var(--color-secondary-rgb), 0.8);
      transition: 0.3s;
    }
    
    .blog .blog-details .meta-bottom a:hover {
      color: var(--color-primary);
    }
    
    .blog .blog-details .meta-bottom .cats {
      list-style: none;
      display: inline;
      padding: 0 20px 0 0;
      font-size: 14px;
    }
    
    .blog .blog-details .meta-bottom .cats li {
      display: inline-block;
    }
    
    .blog .blog-details .meta-bottom .tags {
      list-style: none;
      display: inline;
      padding: 0;
      font-size: 14px;
    }
    
    .blog .blog-details .meta-bottom .tags li {
      display: inline-block;
    }
    
    .blog .blog-details .meta-bottom .tags li+li::before {
      padding-right: 6px;
      color: var(--color-default);
      content: ",";
    }
    
    .blog .blog-details .meta-bottom .share {
      font-size: 16px;
    }
    
    .blog .blog-details .meta-bottom .share i {
      padding-left: 5px;
    }
    
    .blog .post-author {
      padding: 20px;
      margin-top: 30px;
      box-shadow: 0 4px 16px rgba(var(--color-black-rgb), 0.1);
    }
    
    .blog .post-author img {
      max-width: 120px;
      margin-right: 20px;
    }
    
    .blog .post-author h4 {
      font-weight: 600;
      font-size: 22px;
      margin-bottom: 0px;
      padding: 0;
      color: var(--color-secondary);
    }
    
    .blog .post-author .social-links {
      margin: 0 10px 10px 0;
    }
    
    .blog .post-author .social-links a {
      color: rgba(var(--color-secondary-rgb), 0.5);
      margin-right: 5px;
    }
    
    .blog .post-author p {
      font-style: italic;
      color: rgba(var(--color-gray-rgb), 0.8);
      margin-bottom: 0;
    }
    
    /*--------------------------------------------------------------
    # Blog Sidebar
    --------------------------------------------------------------*/
    .blog .sidebar {
      padding: 30px;
      box-shadow: 0 4px 16px rgba(var(--color-black-rgb), 0.1);
    }
    
    .blog .sidebar .sidebar-title {
      font-size: 20px;
      font-weight: 700;
      padding: 0;
      margin: 0;
      color: var(--color-secondary);
    }
    
    .blog .sidebar .sidebar-item+.sidebar-item {
      margin-top: 40px;
    }
    
    .blog .sidebar .search-form form {
      background: var(--color-white);
      border: 1px solid rgba(var(--color-secondary-rgb), 0.3);
      padding: 3px 10px;
      position: relative;
    }
    
    .blog .sidebar .search-form form input[type=text] {
      border: 0;
      padding: 4px;
      border-radius: 4px;
      width: calc(100% - 40px);
    }
    
    .blog .sidebar .search-form form input[type=text]:focus {
      outline: none;
    }
    
    .blog .sidebar .search-form form button {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      border: 0;
      background: none;
      font-size: 16px;
      padding: 0 15px;
      margin: -1px;
      background: var(--color-primary);
      color: var(--color-white);
      transition: 0.3s;
      border-radius: 0 4px 4px 0;
      line-height: 0;
    }
    
    .blog .sidebar .search-form form button i {
      line-height: 0;
    }
    
    .blog .sidebar .search-form form button:hover {
      background: rgba(var(--color-primary-rgb), 0.8);
    }
    
    .blog .sidebar .categories ul {
      list-style: none;
      padding: 0;
    }
    
    .blog .sidebar .categories ul li+li {
      padding-top: 10px;
    }
    
    .blog .sidebar .categories ul a {
      color: var(--color-secondary);
      transition: 0.3s;
    }
    
    .blog .sidebar .categories ul a:hover {
      color: var(--color-default);
    }
    
    .blog .sidebar .categories ul a span {
      padding-left: 5px;
      color: rgba(var(--color-default-rgb), 0.4);
      font-size: 14px;
    }
    
    .blog .sidebar .recent-posts .post-item {
      display: flex;
    }
    
    .blog .sidebar .recent-posts .post-item+.post-item {
      margin-top: 15px;
    }
    
    .blog .sidebar .recent-posts img {
      width: 80px;
      margin-right: 15px;
    }
    
    .blog .sidebar .recent-posts h4 {
      font-size: 18px;
      font-weight: 400;
    }
    
    .blog .sidebar .recent-posts h4 a {
      color: var(--color-secondary);
      transition: 0.3s;
    }
    
    .blog .sidebar .recent-posts h4 a:hover {
      color: var(--color-primary);
    }
    
    .blog .sidebar .recent-posts time {
      display: block;
      font-style: italic;
      font-size: 14px;
      color: rgba(var(--color-default-rgb), 0.4);
    }
    
    .blog .sidebar .tags {
      margin-bottom: -10px;
    }
    
    .blog .sidebar .tags ul {
      list-style: none;
      padding: 0;
    }
    
    .blog .sidebar .tags ul li {
      display: inline-block;
    }
    
    .blog .sidebar .tags ul a {
      color: var(--color-secondary-light);
      font-size: 14px;
      padding: 6px 14px;
      margin: 0 6px 8px 0;
      border: 1px solid rgba(var(--color-secondary-light-rgb), 0.8);
      display: inline-block;
      transition: 0.3s;
    }
    
    .blog .sidebar .tags ul a:hover {
      color: var(--color-white);
      border: 1px solid var(--color-primary);
      background: var(--color-primary);
    }
    
    .blog .sidebar .tags ul a span {
      padding-left: 5px;
      color: rgba(var(--color-secondary-light-rgb), 0.8);
      font-size: 14px;
    }
    
    /*--------------------------------------------------------------
    # Blog Comments
    --------------------------------------------------------------*/
    .blog .comments {
      margin-top: 30px;
    }
    
    .blog .comments .comments-count {
      font-weight: bold;
    }
    
    .blog .comments .comment {
      margin-top: 30px;
      position: relative;
    }
    
    .blog .comments .comment .comment-img {
      margin-right: 14px;
    }
    
    .blog .comments .comment .comment-img img {
      width: 60px;
    }
    
    .blog .comments .comment h5 {
      font-size: 16px;
      margin-bottom: 2px;
    }
    
    .blog .comments .comment h5 a {
      font-weight: bold;
      color: var(--color-default);
      transition: 0.3s;
    }
    
    .blog .comments .comment h5 a:hover {
      color: var(--color-primary);
    }
    
    .blog .comments .comment h5 .reply {
      padding-left: 10px;
      color: var(--color-secondary);
    }
    
    .blog .comments .comment h5 .reply i {
      font-size: 20px;
    }
    
    .blog .comments .comment time {
      display: block;
      font-size: 14px;
      color: rgba(var(--color-secondary-rgb), 0.8);
      margin-bottom: 5px;
    }
    
    .blog .comments .comment.comment-reply {
      padding-left: 40px;
    }
    
    .blog .comments .reply-form {
      margin-top: 30px;
      padding: 30px;
      box-shadow: 0 4px 16px rgba(var(--color-black-rgb), 0.1);
    }
    
    .blog .comments .reply-form h4 {
      font-weight: bold;
      font-size: 22px;
    }
    
    .blog .comments .reply-form p {
      font-size: 14px;
    }
    
    .blog .comments .reply-form input {
      border-radius: 4px;
      padding: 10px 10px;
      font-size: 14px;
    }
    
    .blog .comments .reply-form input:focus {
      box-shadow: none;
      border-color: rgba(var(--color-primary-rgb), 0.8);
    }
    
    .blog .comments .reply-form textarea {
      border-radius: 4px;
      padding: 10px 10px;
      font-size: 14px;
    }
    
    .blog .comments .reply-form textarea:focus {
      box-shadow: none;
      border-color: rgba(var(--color-primary-rgb), 0.8);
    }
    
    .blog .comments .reply-form .form-group {
      margin-bottom: 25px;
    }
    
    .blog .comments .reply-form .btn-primary {
      border-radius: 4px;
      padding: 10px 20px;
      border: 0;
      background-color: var(--color-secondary);
    }
    
    .blog .comments .reply-form .btn-primary:hover {
      background-color: rgba(var(--color-secondary-rgb), 0.8);
    }